footer#footer.footer
  .container
    .copyright © 2017 top4smm
    .contacts.footer-contact
      a(href="#") <span class="mdi mdi-skype-business"></span> trust-g                      
      a(href="#") <span class="icq"><i></i></span> 608583
      a(href="mailto:top4smm@gmail.com") <span class="mdi mdi-email-open-outline"></span> top4smm@gmail.com
// #footer
script(src='js/jquery-2.2.0.min.js')
script(src='js/bootstrap.min.js')
script(src='js/jquery.smoothscroll.js')
script(type='text/javascript', src='js/slick.min.js')
script(type='text/javascript', src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
script(src='js/main.js')